 /**********************************************************************/
 /* Commun à toutes les pages */
 /**********************************************************************/

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Permet le défilement horizontal mais empêche le défilement vertical */
  overflow-y: hidden;

  width: 100%; /* Assure que la largeur du body prend bien toute la largeur de la fenêtre */
  height: 100vh; /* Hauteur fixe pour éviter le défilement vertical */
  color: whitesmoke;
}

/* -------------------- Structure des pages ------------------------- */

/* Contient toutes les pages */
.container {
  position: relative;
  width: 800vw; 
  height: 100vh;
  background-color: #f7ede2;
}

/* Dimensions d'une page */
.rectangle {
  display: flex;
  justify-content: center; /* Centrer horizontalement */
  align-items: center; /* Centrer verticalement */

  position: absolute;
  width: 100vw;
  height: 100vh;   
}

/* Dimensions de base d'une page */
.interieurRectangle {

  display: flex;
  justify-content: center; /* Centrer horizontalement */
  
  
  position: absolute;
  width: 95vw;
  height: 90vh;

  border-radius: 60px;
  background-color: #00013ada;
  box-shadow: 0.5vw 0.5vh 50px rgba(1, 5, 40, 0.901);
}

/* Dimensions de la page d'accueil */
.interieurRectangle_accueil {

  width: 85vw;
  height: 90vh;

}

/* -------------------- Gestion des boutons ------------------------- */
.pageSuivante {

  background-image: url('images/Fleche_Droite.png');
  background-size: contain; /* Redimensionne l'image pour qu'elle soit contenue entièrement dans le bouton */
  background-repeat: no-repeat;

  background-color: #0a060100;
  border: none;
  
  position: absolute;
  top: 45vh;
  left: 85vw; 
  height: 8vh; /* Hauteur du bouton ajustée pour être moins intrusive */
  width: 8vw; /* Largeur du bouton ajustée */
  cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton cliquable */
  font-size: 50px;
}

.pageSuivante_Page1 {
  left: 40vw; 
  top: 60vh;
}

.pagePrecedente {

  background-image: url('images/Fleche_Gauche.png');
  background-size: contain; /* Redimensionne l'image pour qu'elle soit contenue entièrement dans le bouton */
  background-repeat: no-repeat;

  background-color: #0a060100;
  border: none;
  
  position: absolute;
  top: 45vh;
  left: 2vw; 
  height: 8vh; /* Hauteur du bouton ajustée pour être moins intrusive */
  width: 8vw; /* Largeur du bouton ajustée */
  cursor: pointer; /* Change le curseur pour indiquer qu'il s'agit d'un bouton cliquable */
  font-size: 50px;
}



 /**********************************************************************/
 /* Page 1 - Accueil */
 /**********************************************************************/

.page1 { 
  
  background: linear-gradient(to bottom, rgb(217, 167, 42) 0%, rgb(217, 167, 42) 30%,  rgb(217, 167, 42) 30%, rgb(214, 104, 79)60%, rgb(214, 104, 79) 60%, rgb(50, 5, 70) 100%);
 
  left: 0vw; /* Position de départ de la première page */
}
.cacherBouton {
  display: none;
}

/* -------------------- Structure de la page ------------------------- */
.containerPage1 {
  background-color: #00fa2a00;
  display: flex;
  flex-direction: column;
  height: 20vh;
  width: 70vw;
  padding-top: 15%; /* Réduire l'espace en haut */
  padding-bottom: 15%; /* Réduire l'espace en bas */
  justify-content: center; /* Centrer verticalement le contenu */
  text-align: center;
}

/* -------------------- Hiérarchie des textes ------------------------- */

.h1 {
  color: #e0f5ee;
  font-size: 10vh;
  font-family: "mexcellent", sans-serif;
  margin-bottom: 30px; /* Supprimer la marge en bas */
}

.h2 {
  color: #817ab1;
  font-size: 2vw;
  font-family: "Candara Light", sans-serif;
  margin-top: 0; /* Supprimer la marge en haut */
  margin-bottom: 0; /* Supprimer la marge en bas */
}



 /**********************************************************************/
 /* Page 2 - Le graphique */
 /**********************************************************************/

 
.page2 { 
  
  background: linear-gradient(to bottom, rgb(217, 167, 42) 0%, rgb(217, 167, 42) 30%,  rgb(217, 167, 42) 30%, rgb(214, 104, 79)60%, rgb(214, 104, 79) 60%, rgb(50, 5, 70) 100%);
  left: 100vw; /* Décalage pour la deuxième page */
}

/* -------------------- Structure de la page ------------------------- */

.containerGeneral {
  display: flex;
  flex-direction: column; /* Divise le container en colonnes */  
  
  /*background: linear-gradient(to bottom, brown 0%, pink 30%, pink 30%, purple 60%, purple 60%, rgb(152, 126, 126) 100%); */
  width: 70vw;
  height: 80vh;

  margin-top: 9vh;
  border-radius: 30px;
}

.section1 {
  text-align: center;
  color:#b53535;
  margin-top: 0px;
  background-color: #ff08e200;


}

.section2 {
  
  background-color: #817ab100;
}

.section3 {  
  background-color: #44ff0000;
}
.ligne_bas {
  display: flex;
  justify-content: center;
  margin-top: 3vh;
}

.ligne_bas .child {
  flex: 1; /* Les deux containers du bas partagent la largeur */
  margin: 0 5px; /* Ajoute une marge entre les containers */
}

/* -------------------- Hiérarchie des textes ------------------------- */
.h2_P2 {
  color: #ffeba5;
  font-size: 4vh;
  font-family: "mexcellent", sans-serif;
  margin: 20px; /* Supprimer la marge en bas */
}
.h2_P2_minimum {
 
  color: #ffeba5;
  font-size: 8vh;
  
}
/* -------------------- Gestion du tableau ------------------------- */


.tabContainer {
  background-color: #ea64a900;
  font-size: 3vh;
  border-collapse: collapse;
  width: 38vw;
  height: 8.8vh;
  margin-left: 16vw;
  margin-top: 6vh;
}

.celluleValue {
  background-color: #1e514600;
  height: 1vh;
  width: 9vw;
}

td {
  border-right: 10px solid #ffeba5;
  padding: 0.9vh;
  text-align: center;

  font-size: 4vh;
  color: #ffeba5;
  font-family: "mexcellent", sans-serif;
}

th {
  border-right: 10px solid #ffeba5;
  padding: 0.9vh;
  text-align: center;

  font-size: 2vh;
  color: #ffeba5;
  font-family: "mexcellent", sans-serif;
}


th:last-child, td:last-child {
 border-left: none;   /*Supprime la bordure droite pour la dernière colonne */
}

/* -------------------- Gestion du graphique ------------------------- */

.containerGraphique {
  width: 30vw;
  height: 30vh;
  border: 1px solid #ffeba541;
  display: flex;
  justify-content: space-between; /* ou tout autre style de disposition souhaité */
  align-items: flex-end;
  margin-left: 20vw;
  margin-top: 6vh;

}

.bar {

  height: auto; /* ou supprimez complètement cette règle */
  width: 20px; /* ou toute autre largeur souhaitée */
  flex: 1;
  background-color: blue;
  margin: 0 10px;
  border-radius: 15px;
  transition: height 0.5s ease;
 
  background: linear-gradient(to bottom, 
    rgb(214, 167, 48) 0%, 

    rgb(214, 104, 79) 30%,  rgb(214, 104, 79) 30%, 

    rgb(211, 100, 76)60%, rgb(211, 100, 76) 60%, 

    rgb(159, 52, 52)80%, rgb(159, 52, 52)80%, 

    rgba(51, 5, 70, 0.049) 100%);
 }



 /**********************************************************************/
 /* Page 3 -  */
 /**********************************************************************/


.page3 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #F9CF8B;
  left: 200vw; /* Décalage pour la troisième page */
}


 /**********************************************************************/
 /* Page 4 -  */
 /**********************************************************************/

.page4 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #FCE7C5;
  left: 300vw; /* Décalage pour la quatrième page */
}


 /**********************************************************************/
 /* Page 5 -  */
 /**********************************************************************/

.page5 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #E5F1E8;
  left: 400vw; /* Décalage pour la cinquième page */
}


 /**********************************************************************/
 /* Page 6 -  */
 /**********************************************************************/

.page6 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #BDDBC4;
  left: 500vw; /* Décalage pour la sixième page */
}


 /**********************************************************************/
 /* Page 7 -  */
 /**********************************************************************/

.page7 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #96C5A1;
  left: 600vw; /* Décalage pour la septième page */
}


 /**********************************************************************/
 /* Page 8 -  */
 /**********************************************************************/

.page8 {
  /* Définition du décalage entre des pages + couleur de fond */
  background-color: #6EAF7D;
  left: 700vw; /* Décalage pour la huitième page */
}




